
body {
    height:100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #192F3E
}

#resultContainer {
    margin: 0.5% auto 5% auto;
    color: rgb(255,108,97,0.75);
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

#gameContainer {
    display:flex;
    flex-grow: 1;
}
h2 {
    color: rgb(255,108,97,0.75);
    font-size: 175%;
}
#player1 {
    margin-left: 15%;
    align-self: center;
}
#player2 {
    margin-right: 15%;
    align-self: center;
}

#toggleContainer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center; 
}

.button {
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 1px soxlid rgba(255, 107, 97)  ;
    background-color:rgb(255,108,97) ;
    color: #192F3E;
    padding: 0.25%;
    width: 5%;
    cursor: pointer;
    border-radius: 8px;
    font-size: 100%;
    text-align: center;
    margin-bottom: 0.5%;
}

.hidden {
    visibility:hidden;
    
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2.5%;
    padding-bottom: 30%;
    max-height: 0;
    width:30%;
    margin-left: auto;
    margin-right: auto;
}
input {
    background-color: #192F3E;
    border:1px solid rgb(255,108,97);
    color: rgb(255,108,97) ;
    display: block;
}

li{
    display: flex;
    border: 1px solid #192F3E;
    background-color: rgb(255,108,97);
    color: #192F3E;
    width: 30%;
    padding-bottom: 30%; 
    max-height: 0; 
    justify-content: center;
    align-content: center;
}

.ticked{
    font-size: 10vw;
}

h1 , footer {
    margin-top: 0;
    color: rgb(255,108,97);
    text-align: center;
}

h1 {
    border-bottom:double 5px rgba(255, 107, 97, 0.55)  ;
    color: rgb(255,108,97,0.75);
}

footer {
    border-top: double 5px rgba(255, 107, 97, 0.55)  ;
    color: rgb(255,108,97,0.5);
    padding-top:0.5%;
}


/* toggle button */


input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
  }


label {
    display: block;
    width: 65px;
    height: 30px;
    background-color: rgb(255,108,97,0.65);
    border-radius: 100px;
    position: relative;
    right:5px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px #477a8550;
    flex-shrink: 0;
    
  }

label::after {
    content: "";
    width: 28px;
    height: 28px;
    background-color: #192F3E;;
    position: absolute;
    border-radius: 20px;
    top: 1px;
    left: 1px;
    transition: 0.5s;
}

input:checked + label:after{
    translate: 122%;
}

input:checked + label{
    background-color: rgb(255,108,97);
}
 img {
    margin-left: 1%;
    width: 30px;
    height: 30px;
}
  
  