
body {
    height:100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
}

#resultContainer {
}

#buttonContainer {
    display: flex;
    justify-content: center;
}

#gameContainer {
    flex-grow: 1;
}

.button {
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 1px solid brown;
    background-color:#35654d ;
    color: white;
    padding: 0.25%;
    width: 5%;
    border-radius: 8px;
    text-align: center;
}

.hidden {
    visibility:hidden;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    height:50%;
    width:30%;
    margin-left: auto;
    margin-right: auto;
}

li{
    display: flex;
    border: 1px solid brown;
    background-color: #35654d ;
    width: 30%;
    padding-bottom: 30%;
    max-height: 0;
    justify-content: center;
    align-content: center;
    font-size: 100px;
}

h1 , footer {
    margin-top: 0;
    background-color: black;
    color: brown;
    text-align: center;
       
}

h1 {
    border-bottom:double 5px #35654d ;

}

footer {
    border-top: double 5px #35654d ;
}

